%h1.title Theatres

- if !@theatres.empty?
  %table.show-table
    %thead
      %th Theatre
      %th Movies showing
      %th Marathon Count
    %tbody
      - @theatres.each do |theatre|
        %tr
          %td= theatre.title
          %td
            - theatre.movies.uniq.each do |m|
              = m.title
              %br
          %td= theatre.marathons.count
- else
  .empty-warning You don't have any movies stored. Please request for your zipcode.
