%h1.title Theatres

- if !@theatres.empty?
  %table.show-table
    %thead
      %th Theatre
      %th Movies showing
    %tbody
      - @theatres.each do |theatre|
        %tr
          %td
            %a{href: theatre_path(theatre)}= theatre.title
          %td
            - theatre.movies.uniq.each do |m|
              = m.title
              %br
- else
  .empty-warning You don't have any movies stored. Please request for your zipcode.
