%h1.title Movies

- if !@movies.empty?
  %table.show-table
    %thead
      %th Title
      %th Short Description
      %th Duration (in minutes)
      %th Theatres
    %tbody
      - @movies.each do |movie|
        %tr.movie{data_id: movie.id}
          %td= movie.title
          %td= movie.description
          %td.duration= movie.duration.to_int
          %td= movie.theatres.map(&:title).join(", ")
- else
  .empty-warning You don't have any movies stored. Please request for your zipcode.
