%h1.title Showtimes

%table.show-table
  %thead
    %th Movie
    %th Theatre
    %th Start Time
    %th End Time
  %tbody
    - @showtimes.each do |st|
      %tr
        %td= st.movie.title
        %td= st.theatre.title
        %td= Time.at(st.start_time).to_s(:date_time_and_zone)
        %td= Time.at(determine_end_time(st.start_time, st.movie.duration)).to_s(:date_time_and_zone)
